<div  fxFlex="100">
  <header class="header" fxLayout="row" fxLayoutAlign="space-between stretch">
    <h2 style="text-align:center; padding:50px; margin:0">News</h2>
  </header>
</div>
 <div fxLayout="row" class="body">
  <div class="card card-1" routerLink="/news-page/the-hindu" >
    <div fxLayout="row">
    <img src="assets/the-hindu.webp" width="250" height="200">
    </div>
  </div>
  <div class="card card-1" routerLink="/news-page/cnn" >
    <div fxLayout="row">
    <img src="assets/CNN_Logo.jpg" width="250" height="200">
    </div>
  </div>
  <div class="card card-1" routerLink="/news-page/the-new-york-times" >
    <div fxLayout="row">
    <img src="assets/the-new-york-times-logo.jpg" width="250" height="200">
    </div>
  </div>
  <div class="card card-1" routerLink="/news-page/google-news-uk" >
    <div fxLayout="row">
    <img src="assets/google-news-hero.png" width="250" height="200">
    </div>
  </div>
  <div class="card card-1" routerLink="/news-page/rte" >
    <div fxLayout="row">
    <img src="assets/rtE_news_now.png" width="250" height="200">
    </div>
  </div>
  <div class="card card-1" routerLink="/news-page/axios" >
    <div fxLayout="row">
    <img src="assets/axios1.png" width="250" height="200">
    </div>
  </div>
  <div class="card card-1" routerLink="/news-page/bbc-news" >
    <div fxLayout="row">
    <img src="assets/unnamed.png" width="250" height="200">
    </div>
  </div>
  <div class="card card-1" routerLink="/news-page/fox-news" >
    <div fxLayout="row">
    <img src="assets/fox-news.png" width="250" height="200">
    </div>
  </div>
</div>
